html, body {
    overflow: hidden;
    height: 100%;
}
body {
    position: relative;
}


.board{
    position: relative;
    max-width: 700px;
    width: 90%;
    height: calc(10vw + 170px);
    margin: 0 auto;
    background-color: black;
}

.paddle{
    position: absolute;
    --transform: translate(0,50%);
    max-width: 20px;
    width: 2.5%;
    top: 42%;
    aspect-ratio: 0.2;
    background-color: #fff;
    left: 10px;
}

.ball {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    top: 55%;
    left: 200px;
    background-color: #000000;
    --border-radius: 50%;
}
.divider {
    position: absolute;
    background-color: #fff;
    width: 700px;
    height: 5px;
}
#div2 {
    top: 90%;
    left: 0px;
}

#div1 {
    top: 60px;
    left: 0px;
}

.score {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 30px;
    left: 20px;
    font-family: 'Press Start 2P', system-ui;
}

.highscore {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 30px;
    right: 20px;
    font-family: 'Press Start 2P', system-ui;
}

.message {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    display: block;
}