.board{
    position: relative;
    width: 700px;
    height: 250px;
    margin: 0 auto;
    background-color: black;
}

.paddle{
    position: absolute;
    transform: translate(0,-50%);
    width: 20px;
    height: 100px;
    background-color: #fff;
    left: 10px;
    top: 150px;
}

.ball {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    top: 150px;
    left: 200px;
    background-color: #000000;
}
.divider {
    position: absolute;
    background-color: #fff;
    width: 700px;
    height: 5px;
}
#div1 {
    top: 230px;
    left: 0px;
}

#div2 {
    top: 60px;
    left: 0px;
}

.score {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 30px;
    left: 20px;
    font-family: 'Press Start 2P', system-ui;
}

.highscore {
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 30px;
    right: 20px;
    font-family: 'Press Start 2P', system-ui;
}

.message {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 35px;
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    display: block;
}
